/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    
}

input[type=text], input[type=password], input[type=email] {
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */

a {
    color: #1B838B;
}

    a:hover {
        color: #1B838B
    }

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  height: 100%;
}

body, main {
  /* Margin bottom by footer height */
  display:flex;
  flex-direction:column;
  height:100%;
  overflow-y:auto;
  overflow-x:hidden;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.newFooter{
    display:flex;
    line-height:60px;
    bottom:0;
    background-color:white;
    position:relative;
}

/* My Css Classes
--------------------------------------------------*/

.card_container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width:600px;
    margin:auto;
}

.fill{
    width:100%;
}

.Ideagen_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    position: static;
    width: auto;
    height: 40px;
    left: 4px;
    top: 4px;
    /* Teal 80 */

    background: #1B838B;
    mix-blend-mode: normal;
    border-radius: 8px;
    color:white;
    border:none;
}

.A_Tag_Ideagen_Button {
    display: flex;
    flex-direction: row;
    padding-top:6px;
    padding-bottom:6px;
    padding-left:15px;
    padding-right:15px;
    text-align:center;
    background: #1B838B;
    mix-blend-mode: normal;
    border-radius: 8px;
    color: white;
    border: none;
    text-decoration: none;
}

.A_Tag_Ideagen_Button:hover{
    text-decoration:none;
    color:white;
}

.A_Tag_Button_Secondary {
    display: flex;
    flex-direction: row;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    background: #6c757d;
    mix-blend-mode: normal;
    border-radius: 8px;
    color: white;
    border: none;
    text-decoration: none;
}

    .A_Tag_Button_Secondary:hover {
        text-decoration: none;
        color: white;
    }

input[type="file"] {
    font-family: 'Open Sans', sans-serif;
}

.bold {
    font-weight: 700;
}

.imgBanner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Banner {
    background-image: url('/content/blog/HomepageBanner.jpg');
    width: fit-content;
    height: fit-content;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Page Layouts 
--------------------------------------------------*/

.Background_Image {
    background-image: url('/content/blog/HomepageBanner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: central;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.LoginPage {
    background-image: url('/content/blog/Locks.jpg');
    width: fit-content;
    height: fit-content;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.AdminPanel {
    background-image: url('/content/blog/books.jpg');
    width: fit-content;
    height: fit-content;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.NewPostPage {
    background: linear-gradient(rgb(0,0,0,0.6), rgb(0,0,0,0.6)), url('/content/blog/room.jpg');
    width: fit-content;
    height: fit-content;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ViewPostPage {
    background: linear-gradient(rgb(0,0,0,0.6), rgb(0,0,0,0.6)), url('/content/blog/glasses.jpg');
    width: fit-content;
    height: fit-content;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.PageDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/*--------------------------------------------------*/

.Posts {
    text-align: center;
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
    color: white;
    line-height: 400px;
    font-weight: 800;
    font-size:100px;
}

